/* @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Workbench&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Lilita+One&family=Workbench&display=swap');

/* mato margenes que da el navegador por default */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lilita One', sans-serif;
}

header{
    width: 100%;
    height: 70vh;
    background-color: darkolivegreen;
}

.menu{
    width: 100%;
    height: 10vh;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
    margin-right: 20px;
}

.li{
    color: blue;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
}

/* hover es una seudoclase para ca,mbiar la apreincia de algun elemento colocando el cursos sobre este */
.li:hover{
    color: white;
    border: solid 1px blue;
    background-color: blue;
    padding: 5px 10px;
    border-radius: 15px;
}

.menu p{
    color: blue;
    font-size: 3em;
    font-family: 'Honk', system-ui;
}